package passwordcreateview

import (
	"app/api/router"
	. "app/i18n"
	uibutton "github.com/nakami-lounge-GmbH/ui-components/button"
	uiform "github.com/nakami-lounge-GmbH/ui-components/form"
	uiinput "github.com/nakami-lounge-GmbH/ui-components/input"
)

templ PasswordCreateFormCard(token string, errorMessage string) {
	if errorMessage != "" {
		<div class="w-full max-w-sm mx-auto pt-4">
			@uiform.Notice(uiform.NoticeProps{
				Variant: uiform.MessageVariantError,
				Class:   "w-full",
				Title:   "Error",
			}) {
				{ errorMessage }
			}
		</div>
	}
	@uiform.Form(uiform.FormProps{
		Class:  "flex flex-col gap-5 w-full max-w-sm",
		Action: router.Reverse(router.Anon.SetPasswordByTokenPage, token),
		Method: "post",
		Attributes: templ.Attributes{
			"hx-swap":    "transition:true",
			"hx-headers": "js:{'X-TimeZone': Intl.DateTimeFormat().resolvedOptions().timeZone}",
		},
	}) {
		@uiform.Item(uiform.ItemProps{Class: "space-y-1.5"}) {
			@uiform.Label(uiform.LabelProps{For: "password"}) {
				{ Trl(ctx, L.Auth.NewPassword) }
			}
			@uiinput.Input(uiinput.Props{
				ID:          "password",
				Name:        "password",
				Type:        "password",
				Required:    true,
				Placeholder: Trl(ctx, L.Auth.NewPassword),
				Attributes: templ.Attributes{
					"pattern": `^.{8,255}$`,
					"title":   Trl(ctx, L.Auth.MustBeAtLeast8CharactersLong),
				},
			})
		}
		@uiform.Item(uiform.ItemProps{Class: "space-y-1.5"}) {
			@uiform.Label(uiform.LabelProps{For: "confirm_password"}) {
				{ Trl(ctx, L.Auth.ConfirmPassword) }
			}
			@uiinput.Input(uiinput.Props{
				ID:          "confirm_password",
				Name:        "confirm_password",
				Type:        "password",
				Required:    true,
				Placeholder: Trl(ctx, L.Auth.ConfirmPassword),
				Attributes: templ.Attributes{
					"pattern": `^.{8,255}$`,
					"title":   Trl(ctx, L.Auth.MustBeAtLeast8CharactersLong),
				},
			})
		}
		<div class="flex justify-end">
			@uibutton.Button(uibutton.Props{
				Type:  "submit",
				Color: "primary",
				Size:  "sm",
				Label: Trl(ctx, L.Auth.SavePassword),
			})
		</div>
	}
}
