package usersview

import (
	. "app/i18n"
	"app/mq"
	. "app/views/layout"

	"github.com/nakami-lounge-GmbH/ui-components/datatable"
	breadcrumb "github.com/templui/templui/components/breadcrumb"
)

templ Users(user *mq.UserProfile, lang string, rows []*mq.UserProfile, state datatable.TableState) {
	@UserLayout(user, lang, Trl(ctx, L.Users.AllUsers)) {
		@UsersPage(lang, rows, state)
	}
}

templ UsersPage(lang string, rows []*mq.UserProfile, state datatable.TableState) {
	<div class="space-y-4">
		@UsersBreadcrumbs(lang)
		<div>
			@UsersTable(rows, state)
		</div>
	</div>
}

templ UsersBreadcrumbs(lang string) {
	@breadcrumb.Breadcrumb() {
		@breadcrumb.List(breadcrumb.ListProps{Class: "text-xs"}) {
			@breadcrumb.Item() {
				@breadcrumb.Link(breadcrumb.LinkProps{Href: "/"}) {
					{ Trl(ctx, L.Navigation.Home) }
				}
			}
			@breadcrumb.Item() {
				@breadcrumb.Separator()
				{ Trl(ctx, L.Navigation.Administration) }
			}
			@breadcrumb.Item() {
				@breadcrumb.Separator()
				@breadcrumb.Page(breadcrumb.ItemProps{Class: "font-bold"}) {
					{ Trl(ctx, L.Users.AllUsers) }
				}
			}
		}
	}
}
